@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

.scroll-container {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroll-area {
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.scale-up-anchor {
  font-size: 1.4rem;
}

.focus {
  position: absolute;
  top: 0px;
  left: 0px;
}
